 /* titulo*/

 .subencabezado {
   text-align: center;
   background: var(--color-negro);
   margin-top: 15px;
   color: var(--color-blanco);
   padding: 10px;
   background-color: var(--color-negro);

   .titulo {
     font-family: var(--fuente-titulo);
     text-align: center;
     background: var(--color-gradient1);
     margin-top: 15px;
     margin-left: 100px;
     margin-right: 100px;
     border-radius: 10px;
     color: var(--color-blanco);
     padding: 10px;
     background-color: var(--color-negro);
   }

   .subtituloPrincipal {
     width: auto;
     background: var(--color-negro);
     font-family: var(--fuente-subtitulo);
     font-size: 25px;
     border-radius: 10px;
     margin: auto;
     padding: 10px 10px;
     text-decoration: underline;
   }
 }