
/*///////////variable de colores//////////////*/


/*///////////variable de fuentes//////////////*/

$color-primario: rgba(9, 240, 9, 0.5);
$color-secundario: rgb(58, 58, 58);
$color-negro: black;
$color-blanco: #fff;
$color-gradient1: linear-gradient(to left, black -50%, grey 70%);
$fuente-titulo: 'Permanent Marker', cursive;
$fuente-subtitulo: 'DM Serif Display', serif;
$fuente-texto: 'Montserrat', sans-serif;